.header{
    background-color: red;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: grey;
}
.main{
    display: flex;
    justify-content: space-between;
}