header{
    background-color: aqua;
}
nav{
    background-color: bisque;
}
article{
    background-color: lightgreen;
}
section{
    background-color: blueviolet;
}
aside{
    background-color: yellow;
}
footer{
    background-color: grey;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    background-color: grey;
}
.main{
    display: flex;
    justify-content: space-between;
}